.container_cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.container__background {
    background-image: url('../../../assets/images/shop_background.png');
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
}

.container {
    padding: 25px 110px 0px 110px;
}

.code-box-demo p {
    margin: 0;
}

.ant-card {
    margin-bottom: 30px;
}

.ant-card-body {
    height: 420px;
    width: 285px;
    border: 2px solid #0B2881;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 17px;
    justify-content: space-between;
}

.ant-card-body img {
    height: 200px;
}

.cart__icon {
    font-size: 32px;
    color: '#FAFAFA';
}

.card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: rgba(5, 13, 35, 0.8);
}

.footer {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}

.footer button {
    width: 120px;
    height: 26px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.footer img {
    height: 32px;
    padding-left: 5px;
}

.footer__price {
    display: flex;
    align-items: center;
}

.footer p {
    padding-left: 55px;
    margin: 4px;
}


.basketCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 25px;
    margin-bottom: 35px;
}

.basketCard:nth-last-child() {
    margin-bottom: 0;
}

.productImg img {
    width: 120px;
    padding-right: 30px;
}

.title {
    width: 60%;
    display: flex;
}

.button {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.button button {
    width: 180px;
    height: 28px;
    background: #1141D3;
    border-radius: 3px;
}

.minus {
    width: 38px;
    height: 38px;
}

.plus {
    width: 38px;
    height: 38px;
}

.plus img {
    width: 100%;
    height: 100%;
}

.minus img {
    width: 100%;
    height: 100%;
}

.titleBasketCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0 15px 0;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nameOfProduct {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    height: 30px;
}

.description {
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 50px;
}

.cross img {
    width: 30px;

}

.cross {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons__price {
    display: flex;
    justify-content: center;
}

.cross button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.plus {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.minus {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
}

.cart__col {
    display: flex;
    flex-direction: row;
    gap: 33px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 59px 20px;
}

.cart__container {
    padding: 46px 50px 46px 53px;
}

.cart__result-panel {
    min-width: 330px;
    padding: 20px 45px;
}

.cart__wrapper {
    background: #FAFAFA;
    border: 1px solid #1141D3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.cart__flex-group {
    display: flex;
    justify-content: space-between;
}